name: PR
on:
  pull_request:
    branches:
      - master
jobs:
  check-versions:
    runs-on: ubuntu-latest
    timeout-minutes: 3
    outputs:
      rust_version: ${{ steps.run-script.outputs.rust_version }}
      glibc_version: ${{ steps.run-script.outputs.glibc_version }}
      alpine_version: ${{ steps.run-script.outputs.alpine_version }}
      tag: ${{ steps.run-script.outputs.tag }}
    steps:
    - uses: actions/checkout@v4
    - id: run-script
      run: |
        ./scripts/ci-check-versions.sh
  build:
    runs-on: ubuntu-latest
    needs:
    - check-versions
    steps:
    - uses: actions/checkout@v4
    - id: build
      env:
        RUST_VERSION: ${{ needs.check-versions.outputs.rust_version }}
        GLIBC_VERSION: ${{ needs.check-versions.outputs.glibc_version }}
        ALPINE_VERSION: ${{ needs.check-versions.outputs.alpine_version }}
      run: |
        ./scripts/ci-build_push.sh mmta/alpine-glibc

      